
html {
    scroll-behavior: smooth;
}

* {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
    color: #363636;
}

body {
    padding: 0;
    margin: 0;
}
.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}
.menu{
    position: fixed;
    right: -50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: calc(100vh);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    z-index: 1200;
}
.menu-close {
    width: 100%;
    display: flex;
    font-size: 36px;
    align-items: flex-end;
}
.icon-right {
    margin-right: 10px;
}
.menu.active {
    right: 0;
}
.menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.menu-list a{
    color: #363636;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d0d3d4;
}
.searchBar {
    position: relative;
}
.search-input {
    width: 100%;
    border: 2px solid #e0e0e0;
    border-radius:25px;
    outline: none;
    padding-right: 40px;
    padding-left: 20px;
    height: 42px;
}
.search-input:focus {
    border-color: #616161;
}
.ri-search-line {
    position: absolute;
    font-size: 18px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.logo {
    flex: 2;
    text-align: center;
}
.logo label {
    font-size: 24px;
    font-weight: 700;
}
.social-mobile {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.toggle-icons{
    font-size: 36px;
}
.ri-close-line{
    display: none;
}

.trending-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trending-title {
    margin: 30px 0;
}
.trending-title h1 {
    font-size:48px ;
}
.trending-post{
    width: 100%;
    overflow: hidden;
}
.posts-container{
    display:flex;
}
.post{
    display: flex;
    gap: 20px;
    width: 100%;
    flex-shrink: 0;
    
}
.trending-post-image{
    flex: 1;
}
.trending-post-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.trending-post-content{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 20px;
}
.post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.author-image img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.post-title {
    font-size: 16px;
    font-weight: 600;
}
.post-category {
    font-weight: 400;
}
.post-date {
    font-weight: 300;
}
.post-author{
    display: flex;
    gap: 10px;
}
.author-name {
    display: flex;
    flex-direction: column;
}
.nav-dots{
    display: flex;
    gap: 10px;
    margin-top: 50px;
}
.nav-dot{
    height: 6px;
    width: 6px;
    cursor: pointer;
    border-radius:50%;
    background-color: #757575;
}
.nav-dot.active{
    background-color: #e65100;
}

.postsCollection{
    width: 100%;
}
.postsCollection-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}
.singlePost {
    flex: 1 0 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.single-post-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.single-post-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.single-post-text-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.single-post-title {
    font-size: 14px;
}
.single-post-date {
    font-weight: 300;
}
.single-post-content h1{
    font-size: 16px;
}
.single-post-p{
    font-size: 14px;
    font-weight: 300;
}
.single-author-name{
    font-size: 14px;
}

/* Your existing styles for slides, pagination buttons, and slideshow container */
.popularContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.slideshow-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slideTitle{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 33.33%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}
.slideText-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    margin-top: 10px;
}
.slide img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.slide-post-title {
    font-size: 14px;
}
.slide-post-category {

}
.slide-post-date {
    font-weight: 200;
}
.slide-headline {
    font-size: 16px;
}
.slide-desc{
    font-size: 14px;
    font-weight: 200;
}
.slide-author{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.slide-image img {
    border-radius: 50%;
    height: 48px;
    width: 48px;
}


.pagination-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 10px 0;
    align-items: center;
}
.dots-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.dot{
    background-color: #757575;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    cursor: pointer;
}
.dot.active{
    background-color: #e65100;
}
.pag{
    background-color: #363636;
    color: #fff;
    padding:4px 8px;
    border-radius: 5px;
    cursor: pointer;
}
.pag:hover{
    background-color: #e65100;

}

.categories-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;

}

.sports, .business{
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;

}
.sports-post {
    display: flex;
    gap: 20px;
}
.sports-post-content {
    display: flex;
    flex-direction: column;
}
.sport-content h3{
    font-size: 12px;
}
.sport-content h1{
    font-size: 14px;
}
.sports-post img{
    max-width: 200px;
    height: 96px;
}
.category-image img{
    width:28px;
    height: 28px;
    border-radius: 50%;
}
.category-author {
    display: flex;
    gap: 10px;
}
.category-author-name h3{
    font-size: 11px;
}
.category-author-name p {
    font-size: 10px;
}

.sports h2, .business h2{
    font-size: 16px;
}
.sport-date {
    font-weight: 300;
}
.subscribe{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px 50px;
    background-color: #fafafa;
}
.subscription-container{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
}
.subscription-container label{
    font-weight: 600;
}
.input-container{
    display: flex;
    width: 100%;
    gap: 30px;
    margin-top: 10px;
}
.sub-input {
    flex: 2;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    outline: none;
    padding-right: 40px;
    padding-left: 10px;
    height: 42px;
}
.sub-input:focus {
    border-color: #616161;
}
.btn-sub{
    flex: 1;
    border: 2px solid #e0e0e0;
    border-radius: 25px;
    outline: none;
    padding: 5px 20px;
    height: 42px;
    background-color: #e65100;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.btn-sub:hover{
    background-color: #e0e0e0;
    color: #e65100;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.footer-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.foot-social {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.foot-i{
    font-size:20px;
    cursor:pointer;
}
.foot-text {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}



@media screen and (max-width: 420px) {
    /* styles for smartphones*/
    .wrapper{
        max-width: 420px;
    }
    
    .header{
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 0 10px;
    }
    .menu {
        z-index: 1200;
        right: -100%;
        width: 300px;
        height: calc(100vh);
    }
    .icon-right{
        display: block;
        float: right;
    }
    .logo{
        order: 1;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
    .logo label{
        font-weight: 700;
    }
    .social-mobile{
        order: 2;
        display: flex;
        width: 100%;
    }
    .social{
        font-size: 24px;
    }
    .searchBar{
        order: 3;
        width: 100%;
        margin-bottom: 20px;
    }
    .posts-container{
        gap: 10px;
    }
    .trending-title h1 {
        font-size: 28px;
    }
    .post-title{
        font-size: 14px;
    }
    .post-content h1 {
        font-size: 30px;
    }
    .post-content p{
        font-size: 14px;
    }
    .post{
        flex-direction: column;
    }
    .trending-post{
        flex-direction: column;
        padding: 0 10px;
    }
    .trending-post-content{
        gap: 20px;
    }
    .postsCollection {
        padding: 0 10px;
    }
    .postsCollection-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        justify-content: center;
    }
    .singlePost {
        flex: 1 0 100%;
    }
    .single-post-image img {
        max-width: 396px;
        max-height: 254px;
    }
    .popularContainer{
        padding: 0 10px;
    }
    .slideTitle{
        font-size: 30;
    }
    .slides{
        gap: 10px;
        justify-content: center;
            align-items: center;
    }
    .slide{
            flex: 0 0 100%;
    }
    .slide img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
    .categories{
        padding: 0 10px;
    }
    .categories-container{
        flex-direction: column;
    }
    .sports-post{
        flex-direction: column;
    }
    .sports-post img {
        max-width: 396px;
        height: 254px;
        border-radius: 3px;
    }
    .category-image img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    .sports h2 {
        font-size: 20px;
    }
    .business h2 {
        font-size: 20px;
    }
    .subscribe {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 10px;
        background-color: #fafafa;
    }
    .subscription-container{
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px;
    }
    .input-container{
        flex-direction: column;
        gap: 20px;
        height: 100px;
    }
    .subscription-container label {
        font-weight: 600;
        font-size: 26px;
    }
    .sub-input {
        height: 48px;
    }
    .btn-sub{
        font-size: 24px;
        text-align: center;
        height: 40px;
        padding: 0;
    }
    
}

@media screen and (min-width: 421px) and (max-width: 768px) {
    /* styles for tablets*/
    .wrapper{

    }
    .header {
        padding: 0 30px;
    }
    .searchBar, .logo, .social-mobile{
        flex: 1;
    }
    .trending{
        padding: 0 30px;
    }
    .trending-title h1{
        font-size: 32px;
    }
    .post {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .trending-post-image {
        max-width: 696px;
        max-height: 609px;
    }
    .nav-dots{
        margin-bottom: 50px;
    }
    .postsCollection{
        padding: 0 30px;
    }
    .singlePost {
        flex: 1 0 100%;
    }
    .single-post-image img {
        max-width: 100%;
        height: auto;
    }
    .popularContainer{
        padding: 0 30px;
    }
        .slide {
            flex: 0 0 100%;
        }
    
        .slide img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }
    .pagination-container{
        padding: 0 30px;
    }
    .categories{
        padding: 0 30px;
    }
    .categories-container{
        flex-direction: column;
    }
    .subscribe{
        padding: 0 30px;
    }
    .subscription-container{
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* styles for tablets*/
    .wrapper{
        padding: 0 20px;
    }
}
@media screen and (min-width: 1024px) {
    /* styles for pcs*/
}